## 파일 입출력
- read_csv() : https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- 그 외 파일 형식 불러오기 자료 : https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [16]:
import pandas as pd

DATA_PATH = 'playground-series-s4e1/'

train = pd.read_csv(DATA_PATH + 'train.csv')
test = pd.read_csv(DATA_PATH + 'test.csv')
submission = pd.read_csv(DATA_PATH + 'sample_submission.csv')

# train.head(1)

In [11]:
train.head(1)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.0,2,1.0,0.0,181449.97,0

In [19]:
result = train.loc[:, ['id', 'Age']]
result.to_csv(DATA_PATH + "result.csv", index=False) # index=False 시, index 번호는 열로 추출 안함