<a href="https://colab.research.google.com/github/JG-Park/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. 파이썬을 계산기처럼
## 사칙연산

In [ ]:
1+1 # 정수

2

In [ ]:
5-2 # 졍수 연산 결과값은 정수로 반환

3

In [ ]:
5 -2

3

In [ ]:
15*2

30

In [ ]:
# 나눗셈
# Python 3.x 버전은 실수로 처리
# Python 2.x 버전은 정수로 처리
10/2 # 정수 / 정수 ===> 반환값은 실수형으로 반환

5.0

- 실수 연산
- 웹개발, IDE 환경에서 코드 작성 시 print() 필수.

In [ ]:
print(1.2 + 5.2) # 덧셈
print(2.3 - 3.4) # 뺄셈
print(6.3 * 2.3) # 곱셈
print(3.0 / 1.0) # 나눗셈

6.4
-1.1
14.489999999999998
3.0

### 연산규칙
- (1) 괄호 안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [ ]:
print(2 + 3 * 4)

14

In [ ]:
3 / 2 * 4 - 5 / 2

3.5

In [ ]:
(5 * 4 - 15) + ((5 - 2) * (9 - 7)) #

11

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정 함수를 조건만 맞추주면 동작
 +

함수의 종류
- 내장(built-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + 종류가 몇개인가요? (몰라요!)
 + Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

 - 라이브러리에서 제공하는 함수
  + R : 패키지, Python : 라이브러리
  + 목적이 분명.
   - 웹사이트 개발 : 웹사이트와 관련된 라이브러리
   - 통계분석 : 통계분석과 관련된 라이브러리 설치
   - 시각화 : 시각화와 관련된 라이브러리 설치
   - 게임개발 : 게임개발과 관련된 라이브러리 설치
   - 수치연산 주요 라이브러리 : numpy, scipy

In [ ]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

- 파이썬은 객체지향 언어임.

## 거듭 제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
 + A는 밑, n은 지수라고 표현

In [ ]:
2 * 2 * 2 * 2 * 2

32

In [ ]:
2 ** 5 # 거듭제곱

32

- 나머지 구하는 방법

In [ ]:
13 % 5 # 나머지

3

In [ ]:
# 몫을 구하는 방법
13 // 5

2

- 교재 표 3-1(p34), 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
 + 빛은 초당 30만 km
 + 단위를 m/s 표현하면, 300,000,000m/s
 + 3x10^8 >> 과학적 표기법

In [31]:
3*10**8

300000000

In [36]:
3e8
# P-Value 값을 구할 때 등 많이 사용됨.

300000000.0

In [39]:
3e-4

SyntaxError: ignored

In [40]:
1e-4

0.0001

## 진수 표현과 변환
- 우리 일상생활에서는 10진법
- 60진법: 60초가 1분, 60분이 1시간
- 12진법: 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법 : 0~7까지의 숫자
- 16진법 : 0~9, a,b,c,d,e,f
-  메서드
  + bin() : 10진수 > 2진수
  + oct() : 10진수 > 8진수
  + hex() : 10진수 > 16진수

In [41]:
17 # 10진법

17

In [42]:
0b10001 #2진법

17

In [43]:
0o21 # 8진법

17

In [46]:
0x11 # 16진법

17

## 논리 연산 및 비교 연산
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [47]:
print(True)

True

In [48]:
print(False)

False

In [51]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B - A와 B 모두 참일 때 참
- or : A or B - A와 B 중에서 하나라도 참이면 참
- not : not A - A가 참일 때 거짓, A가 거짓이면 참

In [58]:
# 교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야 함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [60]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [63]:
# 합집합
print(not True)
print(not False)

False
True

### 비교연산자

In [66]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야 함
1 == 2 # a와 b는 같다.

False

In [68]:
1 != 2 # a와 b는 같지 않다.

True

In [69]:
1 <= 2 # a는 b보다 작거나 같다.

True

In [70]:
1 < 2 # a가 b보다 작다.

True

In [71]:
1 >= 2 # a가 b보다 크거나 같다.

False

In [73]:
1 > 2 # a가 b보다 크다.

False

### 비교연산자 + 논리연산자

In [74]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [77]:
# 괄호안이 먼저 연산
((3 < 0) and (-5 > 0) and (1 > 5))

False

Chapter 4. 변수와 자료형