# Chapter 3. 파이썬을 계산기처럼
## 사칙연산

In [ ]:
1+1 # 정수

2

In [ ]:
5-2 # 졍수 연산 결과값은 정수로 반환

3

In [ ]:
5 -2

3

In [ ]:
15*2

30

In [ ]:
# 나눗셈
# Python 3.x 버전은 실수로 처리
# Python 2.x 버전은 정수로 처리
10/2 # 정수 / 정수 ===> 반환값은 실수형으로 반환

5.0

- 실수 연산
- 웹개발, IDE 환경에서 코드 작성 시 print() 필수.

In [ ]:
print(1.2 + 5.2) # 덧셈
print(2.3 - 3.4) # 뺄셈
print(6.3 * 2.3) # 곱셈
print(3.0 / 1.0) # 나눗셈

6.4
-1.1
14.489999999999998
3.0

### 연산규칙
- (1) 괄호 안 계산
- (2) 지수 계산
- (3) 곱셈과 나눗셈 계산
- (4) 덧셈과 뺄셈 계산
- (5) 같은 순위 연산이면, 왼쪽에서 오른쪽으로
- (6) 중복된 괄호가 있을 경우, 안쪽에서부터 처리

In [ ]:
print(2 + 3 * 4)

14

In [ ]:
3 / 2 * 4 - 5 / 2

3.5

In [ ]:
(5 * 4 - 15) + ((5 - 2) * (9 - 7)) #

11

## type()
- 함수 : 특정 기능을 수행하도록 만든 매직박스
 + 특정 함수를 조건만 맞추주면 동작
 +

함수의 종류
- 내장(built-in)함수 : 파이썬 설치와 함께 제공하는 기본적인 함수
 + print(), type()
 + 종류가 몇개인가요? (몰라요!)
 + Documentation : 함수를 설명해주는 문서 보는 법 익힐 것 (영어)

 - 라이브러리에서 제공하는 함수
  + R : 패키지, Python : 라이브러리
  + 목적이 분명.
   - 웹사이트 개발 : 웹사이트와 관련된 라이브러리
   - 통계분석 : 통계분석과 관련된 라이브러리 설치
   - 시각화 : 시각화와 관련된 라이브러리 설치
   - 게임개발 : 게임개발과 관련된 라이브러리 설치
   - 수치연산 주요 라이브러리 : numpy, scipy

In [ ]:
# 파이썬에서는 정수를 어떻게 표현할까?
# 파이썬에서는 실수를 어떻게 표현할까?
print(type(3))

<class 'int'>

In [ ]:
print(type(3.5))

<class 'float'>

- 파이썬은 객체지향 언어임.

## 거듭 제곱과 나머지
- 숫자 A를 n번 곱하는 거듭제곱(Power)
 + A는 밑, n은 지수라고 표현

In [ ]:
2 * 2 * 2 * 2 * 2

32

In [ ]:
2 ** 5 # 거듭제곱

32

- 나머지 구하는 방법

In [ ]:
13 % 5 # 나머지

3

In [ ]:
# 몫을 구하는 방법
13 // 5

2

- 교재 표 3-1(p34), 산술연산자 표 정리

## 과학적 표기법
- 아주 큰 수, 작은 수를 다뤄야하는 케이스
 + 빛은 초당 30만 km
 + 단위를 m/s 표현하면, 300,000,000m/s
 + 3x10^8 >> 과학적 표기법

In [ ]:
3*10**8

300000000

In [ ]:
3e8
# P-Value 값을 구할 때 등 많이 사용됨.

300000000.0

In [ ]:
3e-4

0.0003

In [ ]:
1e-4

0.0001

## 진수 표현과 변환
- 우리 일상생활에서는 10진법
- 60진법: 60초가 1분, 60분이 1시간
- 12진법: 오전 12시간, 오후 12시간, 1년 12달
- 컴퓨터 프로그래밍, 숫자 0과 1로 이루어진 2진법 수행
- 8진법 : 0~7까지의 숫자
- 16진법 : 0~9, a,b,c,d,e,f
-  메서드
  + bin() : 10진수 > 2진수
  + oct() : 10진수 > 8진수
  + hex() : 10진수 > 16진수

In [ ]:
17 # 10진법

17

In [ ]:
0b10001 #2진법

17

In [ ]:
0o21 # 8진법

17

In [ ]:
0x11 # 16진법

17

## 논리 연산 및 비교 연산
- 참/거짓
- 논리 연산을 잘 활용하는 것이 프로그래밍의 핵심

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
print(type(True))

<class 'bool'>

### 논리 연산자
- and : A and B - A와 B 모두 참일 때 참
- or : A or B - A와 B 중에서 하나라도 참이면 참
- not : not A - A가 참일 때 거짓, A가 거짓이면 참

In [ ]:
# 교집합
# True 또는 False 결과가 나오도록 조건식을 만들어야 함
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 합집합
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# 합집합
print(not True)
print(not False)

False
True

### 비교연산자

In [ ]:
# True 또는 False 결과가 나오도록 "의도적"으로 조건식을 만들어야 함
1 == 2 # a와 b는 같다.

False

In [ ]:
1 != 2 # a와 b는 같지 않다.

True

In [ ]:
1 <= 2 # a는 b보다 작거나 같다.

True

In [ ]:
1 < 2 # a가 b보다 작다.

True

In [ ]:
1 >= 2 # a가 b보다 크거나 같다.

False

In [ ]:
1 > 2 # a가 b보다 크다.

False

### 비교연산자 + 논리연산자

In [ ]:
1 > 0 and -2 < 0 # 비교연산자(1순위) 논리연산자(2순위)

True

In [ ]:
# 괄호안이 먼저 연산
((3 < 0) and (-5 > 0) and (1 > 5))

False


- 이번주 8교시 (수업 안함)
- 소회의실 운영 체험
- 각 팀에서 자기소개, 배운 내용 서로 복습
- Repo 1 : 학습 / 교육 - Mulcap-lectures
 + pandas, 시각화, django
- Repo 2 : 멀캠 세미 프로젝트 Projects 관련
- Repo 3 : 00 공모전

- Option() : 자기소개 Repo
 + 링크 추가 (Repo1)

- 전공자 : 여러가지 프로젝트 있는 경우에는, 사전에 정리
+ 1월 3~4일 이후, 개별 면담 진행

Chapter 4. 변수와 자료형

# Chapter 4. 변수와 자료형

## 변수 (p.42)

In [ ]:
# 단순 계산기
1 + 1

2

변수명 = data

In [ ]:
# 변수 : Variable, 데이터
# !! 주의 !! 변수 데이터를 변경했으면 반드시 실행해야 하위에 적용됨.
a = 1000
b = 1110

In [ ]:
print(a)
print(b)

1000
1110

### 변수명 짓기 규칙
- snake, camel

In [ ]:
# snake
num_a = 100
num_b = 110

# Camel
myStudent = "evan"
mySchool = "학교이름"

# 주의해야할 것
# 3star = "이장군" # 변수명 앞에 숫자가 오면 안됨!

In [ ]:
# 내장 함수명을 변수명으로 만들면 안됨!
print(num_a)

100

In [ ]:
num = 1
Num = 100

In [ ]:
# 변수명은 대소문자를 구분함!
print(num)
print(Num)

1
100

In [ ]:
# 변수명 작성 시, 공백 있으면 안됨!
# my student = "evan"

### 예약어는 변수명으로 이용할 수 없음
- (p.45)
- print, None, True, etc

### 변수의 반대어 : 상수
- 한번 지정 후 변하지 않는 고정 값

In [ ]:
# 상수
pi = 3.14

In [ ]:
# 실제 변수를 만들어보기
num1 = input("숫자를 입력해주세요!!") # 숫자를 입력해도 기본값
num2 = input("숫자를 입력해주세요!!")

print(num1, num2)

숫자를 입력해주세요!!0
숫자를 입력해주세요!!0
0 0

In [ ]:
print(num1 + num2)
print(num2 + num1)

00
00

In [ ]:
print(type(num1)) # <class 'str'> 문자열
print(type(num2)) # <class 'str'> 문자열

<class 'str'>
<class 'str'>

프로그래밍에서 문자열 표현
"", '' 사용

In [ ]:
# 하고싶은 것 : 사칙연산
# 해결방안 : 문자열 100을 숫자 100으로 변경하면 될 것 같음
# 코드를 찾기

num_a = int(num1)
num_b = int(num2)
print(num_a + num_b)

# string_num = "42"
# int_num = int(string_num)
# print(int_num) # Output: 42

0

## 문자열
- ""(큰 따옴표) 또는 ''(작은 따옴표) 지정

In [ ]:
greeting = 'Hello String'
print(greeting)

Hello String

In [ ]:
string3 = 'This is a "double" quotation test'
print(string3)

This is a "double" quotation test

In [ ]:
long_string = """
문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3
"""

print(long_string)

문장이 긴 텍스트
문장이 긴 텍스트1
문장이 긴 텍스트2
문장이 긴 텍스트3

In [ ]:
a = 'Enjoy '
b = 'Python!'
print(a + b)

Enjoy Python!

In [ ]:
print(a * 3)

Enjoy Enjoy Enjoy

## 리스트 (List), p.49
- 가장 중요한 자료형
- 다른 프로그래밍 언어에서는 배열(Array)
- 예시
 + 1반의 과목별 수학 점수
- 다중의 데이터를 묶는다

In [ ]:
# 1번 학생의 국어, 영어, 수학, 과학
student1 = [90, 95, 85, 80]
print(student1)

[90, 95, 85, 80]

In [ ]:
print(type(student1))

<class 'list'>

### 인덱싱(Indexing)
- 리스트에서 특정 데이터를 추출

In [ ]:
print(student1[0]) # 숫자 0은 리스트의 첫번째 항목 의미
print(student1[1])
print(student1[2])
print(student1[3])

90
95
85
80

In [ ]:
greeting = 'Hello, Python'
print(greeting[7])

P

### 리스트 수정, 삭제

In [ ]:
student1[0] = 100 # 새로운 데이터 할당
student1

[100, 95, 85, 80]

In [ ]:
# 문자열, 덧셈 연산자 + 곱셈 연산자
# 리스트에 적용
myFriends = ['혜원', '시원', '규희', '상준']
newFriends = ['려원']

myFriends2 = myFriends + newFriends
print(myFriends2)

['혜원', '시원', '규희', '상준', '려원']

In [ ]:
myNumbers = [1]
myNumbers * 3

[1, 1, 1]

In [ ]:
# 규희에서 규 추출
result = myFriends[2][0]
print(result)

규

In [ ]:
mixed = [0, 2, 3.14, 'python', True, myFriends2]
mixed

[0, 2, 3.14, 'python', True, ['혜원', '시원', '규희', '상준', '려원']]

In [ ]:
# mixed의 myFriends2 안의 려원에서 려 추출
print(mixed[5][4][0])

려

### 슬라이싱
- 문자열, 리스트 그 외 파이썬 자료형 원리 동일함.

In [ ]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3]) # 시작 인덱스: 끝인덱스-1

# 5까지 추출
print(list_data[0:6])
print(list_data[:6])
print(list_data[4:]) # list_data[4:10]
print(list_data[:]) # 모든 데이터 조회

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list_data[:])
print(list_data[::2])
print(list_data[::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [ ]:
greeting = 'Hello, Python'

# Hello만 추출
print(greeting[0:5])

Hello

## 튜플(Tuple)
- 기초 문법이 중요함 (면접 때 질문 받을 수 있음)

In [ ]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

### 유사한 것
- 인덱싱과 슬라이싱이 동일

In [ ]:
tuple_data = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(tuple_data[4])
print(tuple_data[:])
print(tuple_data[0:7])
print(tuple_data[:7])
print(tuple_data[4:7])
print(tuple_data[4:])
print(tuple_data[::2])

4
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6)
(0, 1, 2, 3, 4, 5, 6)
(4, 5, 6)
(4, 5, 6, 7, 8, 9)
(0, 2, 4, 6, 8)

### 차이점
- 리스트는 수정, 삭제 가능
- 튜플은 수정, 삭제 불가

In [ ]:
l_data = [0, 1, 2, 3]
t_data = (0, 1, 2, 3)

# 숫자 3 대신, 30으로 변경
# l_data[3] = 30
# t_data[3] = 30

# del l_data[3]
# print(l_data)
del t_data[3]
print(t_Data)

TypeError: ignored